<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<body>
    <header>
            <body>
           <ul id="barra">
      <li>Home</li>
      <li>Acerca de</li>
    </ul>
<br>
            <section class="logotipo"  style="margin-top: 25px; margin-bottom: 25px;">
<h1>Agregar Canino</h1>
<div class="cajita-texto"></div>
<img class="img-flex" src="patita.jpg" alt="patita" width="250px" height="250px">
</section>


<section>
    <p> <b>Ingresa los siguientes datos</b> </p>
    <ul>
        <li><input type="text" placeholder="Nombre Mascota" class="boton_1" required></li>
    </ul>
    <br>
    <ul><li><input type="text" placeholder="id Mascota"  class="boton_2" required></li></ul>
    <br>
    <ul><li><input type="number" placeholder="telefono" value="number" class="boton_3" required></li></ul>
    </ul>
</section>

<br>
<section>
    <p><b>Fecha de nacimiento</b> </p>
    <ul>
    <li><input type="number" placeholder="Dia" class="boton_1" required ></li>
    <li><input type="text" placeholder="Mes" class="boton_2" required></li>
    <li><input type="number" placeholder="Año" value="number" class="boton_3" required></li>
</ul>
</section>
<section>
    <p><b>Sexo</b> </p>
    <ul>
    <li><form><input type="radio" name= "radio" > <label > Femenino</label> </form></li>
    <li><form><input type="radio" name= "radio" > <label> Masculino </label> </form></li>
</ul>
<br>
<input type="submit" value="Guardar">
</section>
<section>
    <br>
</section>

</body>

</html>