<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
</head>
<body>
    <h1>Contacto:</h1>
    <form action="/contacto/" method="POST">{% csrf_token %}
        <p> Asunto: <input type="text" name="asunto"></p>
        <p> Email: <input type="text" name="email"></p>
        <p> Mensaje: <input type="textarea" name="mensaje" rows="15" cols="45"></textarea></p>
        <input type="submit" value="Enviar">
    </form>

</body>
</html>