<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <link href="{% static 'img/logotransparente.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="{% static 'css/style1.css' %}" rel="stylesheet">
    <title>Información de la mascota</title>
</head>
<body>


    <div class="contenedor">
        <h1 class="titulo1">Información de: {{mascota.nombre}}</h1>
        <img class= "logo" src="{% static 'img/logotransparente.png' %}">
        <div class="otrocontenedor">
            <p class="azul"><strong>Identificador:</strong> {{mascota.id}}</p>
            <p class="aqua"><strong>Especie:</strong> {{mascota.especie}}</p>
            <p class="azul"><strong>Raza:</strong> {{mascota.raza}}</p>
            <p class="aqua"><strong>Nombre de responsable:</strong> {{mascota.clienta_id.nombre_Responsable}} {{mascota.clienta_id.apellido_Responsable}}</p>
            <p class="azul"><strong>Email de responsable:</strong> {{mascota.clienta_id.email_Responsable}}</p>
            <p class="aqua"><strong>Curso:</strong> {{mascota.asignatura_id.nombre}}</p>
            <br>
            <button class="boton"><a href="{% url 'home' %}">Regresar</a></button>
        </div>
    </div>
</body>
</html>