<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <div class="container_form">

    <h3 class="txt_gris_medio">Acceder</h3>
    <hr>
      <div class="login-container">
          <!-- Manejo de mensajes ya sea de exito como de error-->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if forms.errors %}
          <div class="alert alert-danger">
            <p>Tu usuario y contraseña no coinciden.</p>
          </div>
        {% endif %}
        <form id="form-login" method="post">
          {% csrf_token %}

          <div class="w450" id="username">
            {{ form.username }}
          </div>
           <div class="w450" id="password">
            {{ form.password }}
          </div>
          <button id="btn-registrar" class="button-large">Entrar</button>
          <div class="clearfix"></div>
        </form>
        <a href="#" class="txt_verde txt_center mt15 mb20" style="display:block">Aviso de Privacidad</a>
        <div>
            <a href="{% url 'registrar' %}">Registrar Usuario</a>
        </div>
    </div>
  </div>
</body>
</html>