{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href='{% static "css/barra.css" %}' rel="stylesheet" />
    <title>Main</title>
</head>
<body>
    {% include "registration/barra.html" %}
    <h3>Has iniciado sesion</h3>
    <!--<p>El nombre de la clase del View es: {{nombre_persona}}{{apellido_persona}}</p>-->
    <p>Las asignaturas dictadas en la Academia son:</p>
    {% if asignaturas %}
        <ul>
            {% for asignatura in asignaturas %}
            <li>
                {{ asignatura.nombre }}
            </li>
            {% endfor %}
        </ul>
    <!-- Si no hay nada en asignaturas.-->
    {% else %}
        <p>No hay ninguna asignatura.</p>
    {% endif %}
    <!--<button><a href='busqueda_mascota.html'>Buscar mascota</a></button>-->
    <button><a href='/accounts/logout'>Cerrar sesión</a></button>

</body>
</html>
</html>