<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href='{% static "css/barra.css" %}' rel="stylesheet" />
    <title>Main</title>
</head>
<body>
    {% include "registration/barra.html" %}

    <h1>Bienvenida {{user.username}} a Academia Patitas de Angel </h1>

    <!-- Manejo de mensajes ya sea de exito como de error-->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div>Nro de mascotas registradas : {{mascotas|length}}</div>
    <div>
        <a href="nuevaMascota">Agregar Mascota</a>
    </div>

    <!--<p>El nombre de la clase del View es: {{nombre_persona}}{{apellido_persona}}</p>-->
  <!--  <p>Las asignaturas dictadas en la Academia son:</p>
    {% if asignaturas %}
        <ul>
            {% for asignatura in asignaturas %}
            <li>
                {{ asignatura.nombre }}
            </li>
            {% endfor %}
        </ul>
  -->
    <!-- Si no hay nada en asignaturas.-->
 <!--   {% else %}
        <p>No hay ninguna asignatura.</p>
    {% endif %}
    -->
    <!--<button><a href='busqueda_mascota.html'>Buscar mascota</a></button>-->
    <div>
        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Nombre Responsable</th>
                <th>Email</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>

            </thead>
            <tbody>
            {% for mas in mascotas %}
            <tr>
                <td>{{mas.id}}</td>
                <td>{{mas.nombre}}</td>
                <td>{{mas.clienta_id.nombre_Responsable}} {{mas.clienta_id.apellido_Responsable}}</td>
                <td>{{mas.clienta_id.email_Responsable}}</td>
                <td><a href="registration/detalleMascota/{{mas.id}}">Ver detalle</a></td>
                <td><a href="registration/editarMascota/{{mas.id}}">Editar</a></td>
                <td><a href="registration/eliminarMascota/{{mas.id}}">Eliminar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <button><a href='/accounts/logout'>Cerrar sesión</a></button>
    <div class="footer">
        <p>Footer</p>
    </div>

</body>
</html>