<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar Mascota</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'img/logotransparente.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Manejo de mensajes ya sea de éxito como de error-->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}


    <div class="wrapper">
        <div class="box header1">
            <h1 class="text-center">Agregar Mascota</h1>
        </div>
        <div class="box header2">
            <img class= "logo" src="{% static 'img/logotransparente1.png' %}">
        </div>


        <form method="POST" class="box form">
            <table>
                {{formaMascota}}
            </table>
            <div class="boton">
                <button type="submit" id="submit">Registrar</button>
                {% csrf_token %}
                <!--variable para pasar validación-->
            </div>
        </form>
    </div>
</body>
</html>