body {
  margin: 0;
  padding: 0px;
  background-size: cover;
}

h1 {
    color: blue;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
}

.logo {
    justify-content: center;
    width: 200px;
    height: 200px;
    left: 30px;
    top: 50px;
    border-radius: 200px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.messages {

}


.titulo1{
    margin-top: 100px;
}


.contenedor{
    display: grid;
    /*grid-template-columns: 200px 1fr 200px 1fr 200px;*/
    grid-template-columns: auto 1fr auto;
    grid-gap: 180px;
    grid-template-rows: 1fr 1fr 1fr;
    /*background-color: rgba(74, 15, 168, 0.502);*/
    color: rgba(23, 43, 133, 1);
    margin: auto;
    max-width: 50%;
    max-height: 50%;
    text-align: center;
    padding-top: 50px;
    background-color: white;
}

.otrocontenedor{

    grid-row: 2;
    grid-column: 2;
    margin-top: -200px;
    margin-left: -400px;
}

p {
   font-family: 'Forum';
   color: rgba(23, 43, 133, 1);
}

p strong {
    grid-column: 2;
    grid-row: 1 / 6;
    text-align: center;
}

.boton {
    background-color: rgba(156, 162, 239, 1);
    border-radius: 20px

}

.boton a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}


.otroboton{
    background-color: rgba(156, 162, 239, 1);
    border-radius: 20px
}

.otroboton a{
    text-decoration: none;
    color: black;
}


.caja {
    display: flex;
    color: rgba(23, 43, 133, 1);
    margin: auto;
    max-width: 50%;
    text-align: center;
    padding-top: 50px;
    background-color: white;
}

.caja .logo {

    padding-left: 200px;

}

.cajita {

    margin-top: 200px;
    margin-left: -280px;

}




@media (max-width: 760px) {


.contenedor {
    display: flex;
    flex-direction: column;
    justify-content-align: center;
}

.logo {
    margin-top: -200px;
    margin-left: 100px;
}

.otrocontenedor {
    margin-left: 20px;

}

@media (max-width: 750px) {


.contenedor {
    display: flex;
    flex-direction: column;
    justify-content-align: center;
}

.logo {
    display:none;
}

.otrocontenedor {
    margin-left: 20px;
    margin-top: -180px;

}
}



